.fundraising-input, .fundraising-input input {
  font-size: 40px;
  text-align: center;
}

.thermometer-svg {
  width: 30%;
  float: left;
  position: fixed;
}

body {
  font-family: sans-serif;
  font-size: 16px;
}

.thermometer-explanation {
  width: 60%;
  padding: 20px;
  float: right;
}

.left-column {
  float: left;
  width: 50%;
}

.right-column {
  padding-top: 10px;
}

li {
  padding-top: 10px;
}

h3, hr {
  clear: both;
}
